.weather-card{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid wheat;
    
}
.weather-display{
    display: flex;
}

.weather-cards{
    display: flex;
    width: 600px;
    height: 150px;
}